:root {
  --mainbg: hsl(268, 75%, 9%);
  --togglebg: hsl(268, 71%, 12%);
  --screenbg: hsl(268, 71%, 12%);

  --keybg: hsl(268, 47%, 21%);
  --keyshadow: hsl(281, 89%, 26%);

  --keybg2: hsl(176, 100%, 44%);
  --keyshadow2: hsl(177, 92%, 70%);

  --keybg3: hsl(281, 89%, 26%);
  --keyshadow3: hsl(285, 91%, 52%);

  --text1: hsl(52, 100%, 62%);
  --text2: hsl(198, 20%, 13%);

  --alt1: hsl(52, 100%, 62%);
  --alt2: white;
}
