:root {
  --mainbg: hsl(222, 26%, 31%);
  --togglebg: hsl(223, 31%, 20%);
  --screenbg: hsl(224, 36%, 15%);
  --keybg: hsl(225, 21%, 49%);
  --keyshadow: hsl(224, 28%, 35%);
  --keybg2: hsl(6, 63%, 50%);
  --keyshadow2: hsl(6, 70%, 34%);
  --keybg3: hsl(30, 25%, 89%);
  --keyshadow3: hsl(28, 16%, 65%);
  --text1: hsl(221, 14%, 31%);
  --text2: hsl(0, 0%, 100%);
}
