#root {
  background: var(--mainbg);
}
.calculatorContainer {
  background: var(--mainbg);
  width: 350px;
  height: 540px;
}

.topPart {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.topPart h1 {
  color: var(--alt1);
  font-size: 40px;
  padding-left: 10px;
  padding-top: 12px;
}
.topPart h5 {
  font-size: 16px;
  padding-left: 72px;
  padding-top: 34px;
  color: var(--alt1);
}
.screen {
  width: 350px;
  height: 80px;
  border-radius: 10px;
  background: var(--screenbg);
  margin-bottom: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.screen h3 {
  color: var(--alt1);
  text-align: right;
  font-size: 20px;
  padding-right: 10px;
}
.screen h1 {
  color: var(--alt1);
  text-align: right;
  padding-right: 10px;
  font-size: 42px;
}

/* /////////////////////////////////////////// key container */
.keyContainer {
  width: 348px;
  height: 355px;
  background: var(--togglebg);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ////////////////////////////////////////// keys */
.key {
  border-radius: 5px;
  margin: 0 8px;
  font-size: 32px;
}
.key:active {
  transform: translateY(2px);
}
.key-half {
  width: 66px;
  height: 49px;
}
.key-full {
  width: 148px;
  height: 48px;
}
.key-col1 {
  color: var(--text1);
  background: var(--keybg3);
  box-shadow: 0px 5px var(--keyshadow3);
}
.key-col2 {
  color: var(--alt2);
  background: var(--keybg);
  box-shadow: 0px 5px var(--keyshadow);
}
.key-col3 {
  color: var(--text2);
  background: var(--keybg2);
  box-shadow: 0px 5px var(--keyshadow2);
}
.keyfont1 {
  font-size: 24px;
}
.keyfont2 {
  font-size: 38px;
}

/* ////////////////////////// theme switcher */
.theme-switcher {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.labels {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 5px;
}
button {
  background: none;
  color: none;
  border: none;
}
button:hover {
  cursor: pointer;
}
.labels p {
  font-size: 16px;
  color: var(--alt1);
  margin-bottom: 4px;
}
.labels p:hover {
  cursor: pointer;
}
.switch {
  width: 80px;
  height: 30px;
  border-radius: 15px;
  background: var(--togglebg);
  display: flex;
  align-items: center;
}
.dark {
  justify-content: flex-start;
}
.light {
  justify-content: center;
}
.alternative {
  justify-content: flex-end;
}
.dot {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  background: var(--keybg2);
  transition: all 0.3s ease;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
